@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';


.wrapper {
    padding-top: mixins.rem(100);
    display: flex;
    justify-content: center;
}

.header {
    width: mixins.rem(500);
}

.svgQr {
    fill: rgba(26, 30, 33, 0.48);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-23%, 8%);
    width: mixins.rem(30);
    height: mixins.rem(30);
}