@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variable/common';

.wrapper {
  display: flex;
  flex-direction: column;
  width: mixins.rem(371);
  row-gap: mixins.rem(30);
  padding-left: mixins.rem(30);
  padding-right: mixins.rem(30);
  padding-bottom: mixins.rem(30);
}

.notification_header {
  @extend .titlePopup;
}

.wrapper_btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(mixins.rem(20), mixins.rem(12));
}

.hurt {
  position: absolute;
  top: 0;
  left: 0;
}

.close_svg {
  @extend .close_svg;
}

.stt_modal_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  row-gap: mixins.rem(34);
  align-items: center;
}

.svgQr {
  position: absolute;
  top: 50%;
  right: 0;
  width: mixins.rem(30);
  transform: translate(mixins.rem(-10), mixins.rem(-15));
}


.btn_send_tokens {
  @extend .btn_main;
  padding-left: mixins.rem(28);
  padding-right: mixins.rem(28);
  padding-top: mixins.rem(14);
  padding-bottom: mixins.rem(14);
  font-size: mixins.rem(16);
  font-weight: 700;
  font-family: globalIndex.$font_family_btn_first;
  border-radius: mixins.rem(30);
  min-width: mixins.rem(137);
  min-height: mixins.rem(54);
}

.cover_text_block {
  position: relative;

  @media (max-width: mixins.em(380)) {
    max-width: mixins.rem(290);
  }
}

.wrap_input {
  height: mixins.rem(58);
  font-family: globalIndex.$font_family_main;
  font-size: mixins.rem(16);
  font-weight: 600;
  line-height: globalIndex.$line_height;
  position: relative;

  @media (min-width: mixins.em(381)) {
    width: mixins.rem(310);
  }

  @media (max-width: mixins.em(380)) {
    max-width: mixins.rem(290);
  }

}

.input_cover {
  font-family: globalIndex.$font_family_main;
  color: #7C7C7C;
  font-weight: 600;
  font-size: mixins.rem(16);
  height: 100%;
  width: 100%;
  background-color: #D3FDDE;
  border-radius: mixins.rem(15);

  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  transition: background-color ease 0.3s 0s;

  @media (min-width: mixins.em(380)) {
    padding-left: mixins.rem(30);
    padding-right: mixins.rem(64);
  }

  @media (max-width: mixins.em(380)) {
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(64);
  }

  &::placeholder {
    font-family: globalIndex.$font_family_main;
  }
}

.notValidated {
  background-color: #FBE6EF;
  transition: background-color ease 0.3s 0s;
}

.tokensForSend {
  font-family: globalIndex.$font_family_third;
  color: #A2A1A1;
  font-weight: 600;
  line-height: globalIndex.$line_height;
  row-gap: mixins.rem(20);
}

.cover_block_money {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: mixins.rem(20);
  text-align: center;
}

.value {
  font-size: mixins.rem(32);
  column-gap: mixins.rem(5);
  display: flex;
  font-family: globalIndex.$font_family_third;
  color: #A2A1A1;
  font-weight: 600;
  line-height: globalIndex.$line_height;
}
.range {
  font-size: mixins.rem(14);
}

.wallet {
  font-family: globalIndex.$font_family_third;
  color: #409798;
  font-weight: 600;
  font-size: mixins.rem(32);
  line-height: globalIndex.$line_height;
}

.textInfo {
  font-family: globalIndex.$font_family_main;
  color: #A2A1A1;
  font-weight: 600;
  font-size: mixins.rem(14);
  line-height: globalIndex.$line_height;
}


.wrap_input_tokens {
  color: #A2A1A1;
}

.input_cover_tokens {
  display: inline-block;
  color: #A2A1A1;
  font-family: globalIndex.$font_family_third;
  font-weight: 600;
  max-width: mixins.rem(150);
  text-align: right;
  &::placeholder{
    color: #A2A1A1;
  }
}
.coverTokensInput {

}