@use '../../../../shared/styles/variable/globalIndex';
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/mixins';
@use '../../../../shared/styles/variable/common';

.wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    height: mixins.rem(40);
    border-radius: mixins.rem(15);
}

.coverLine,
.line {
    border-radius: mixins.rem(35);
    position: absolute;
}

.coverLine {
    width: 100%;
    background-color: globalIndex.$background_colour_additional_accent_second;
    height: mixins.rem(35);
    overflow: hidden;
}

.line {
    height: 100%;
    background: globalIndex.$color_title;
    transition: width ease 0.3s 0s;
}

.input {
    width: 100%;
    outline: none;
    background: transparent;
    height: mixins.rem(30);
    cursor: pointer;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;
    border-radius: mixins.rem(15);
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: #ccc;
        transform: translateY(-45%);
        z-index: -1;
        border-radius: mixins.rem(15);
    }
}

.coverValue {
    margin-top: mixins.rem(5);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    color: globalIndex.$color_title;

    span {
        font-weight: bold;
    }
}
