@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';


.wrapper {
    background-color: globalIndex.$btn_background;
    color: globalIndex.$btn_color;
    height: mixins.rem(54);
    width: mixins.rem(57);
    border-radius: mixins.rem(50) mixins.rem(10) mixins.rem(50) mixins.rem(50);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: mixins.rem(16);
}