@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';


.wrapper {
  @extend .eth-card;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: mixins.rem(25);
  padding-top: mixins.rem(25);
  padding-bottom: mixins.rem(27);
  padding-left: mixins.rem(42);
  padding-right: mixins.rem(42);
  height: mixins.rem(250);
}

.cover_btn_time {
  display: flex;
  column-gap: mixins.rem(10);
}
.chartData {
  font-family: globalIndex.$font_family_third;
  font-size: mixins.rem(12);
  display: flex;
  justify-content: space-between;
}

.period_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: mixins.rem(10) 0;
  text-align: center;
  text-decoration: none;
  color: #a1a1a1;
  font-weight: 500;
  cursor: pointer;

  &.active {
    color: #96fac5;
  }
}

.chart_data_delta {
  font-family: globalIndex.$font_family_third;
  font-size: mixins.rem(16);
  font-weight: 600;
  color: #71FAA2;
  position: absolute;
  top: mixins.rem(50);
  left: mixins.rem(44);
}

.main_block__header_number {
  color: #292929;
  font-family: globalIndex.$font_family_third;
  font-size: mixins.rem(20);
  font-weight: 700;

}

.block_chart_label {
  display: flex;
  justify-content: space-between;
}

.line {
  stroke: #31d59b
}
