@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: mixins.rem(30);
    padding-left: mixins.rem(30);
    padding-right: mixins.rem(30);
    padding-bottom: mixins.rem(30);

    @media (min-width: mixins.em(700)) {
        min-width: mixins.rem(400);
    }

    @media (max-width: mixins.em(699)) {
        min-width: 98vw;
        max-width: 98vw;
        height: 98vh;
        max-height: 98vh;
    }
}

.stt_modal_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    row-gap: mixins.rem(34);
    align-items: center;
}

.notification_header {
    @extend .titlePopup;
}
.qr_scanner {
    display: flex;
    border-radius: mixins.rem(20);
    object-fit: cover;

    @media (min-width: mixins.em(600)) {
        min-width: mixins.rem(321);
        max-width: mixins.rem(600);
        height: auto;
    }

    @media (max-width: mixins.em(599)) {
        width: 90vw;
        height: 80vh;
        object-fit: cover;
    }

    /* Динамическое изменение размера в зависимости от высоты */
    @media (max-height: mixins.em(700)) {
        width: 90vw;
        height: 80vh;
    }
}


.wrapper_btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(mixins.rem(-10), mixins.rem(12));
}

.btn_send_tokens {
    @extend .btn_main;
    padding-left: mixins.rem(28);
    padding-right: mixins.rem(28);
    padding-top: mixins.rem(14);
    padding-bottom: mixins.rem(14);
    font-size: mixins.rem(16);
    font-weight: 700;
    font-family: globalIndex.$font_family_btn_first;
    border-radius: mixins.rem(30);
    min-width: mixins.rem(137);
    min-height: mixins.rem(54);
}

.wrap_btn {
    display: flex;
    min-width: 100%;
    justify-content: center;
}

.result {
    font-family: globalIndex.$font_family_main;
    font-size: mixins.rem(12);
    line-height: globalIndex.$line_height;
    font-weight: 600;
}




