@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';

.classNameWrap {
    position: relative;
}

.btn_cover {
    //position: absolute;
    //bottom: 0;
    //right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    z-index: 10;
    min-width: mixins.rem(50);
    transform: translateY(mixins.rem(-30));
    width: mixins.rem(100);
}

.svg {
    fill: #ffffff;
    width: mixins.rem(39);
    height: mixins.rem(39);

    //&.sizePayment {
    //
    //}
    //&.sizeSound {
    //  width: mixins.rem(31);
    //  height: mixins.rem(21);
    //}
    //&.sizeLink {
    //  width: mixins.rem(31);
    //  height: mixins.rem(21);
    //}
    //&.sizeFavourite {
    //  width: mixins.rem(31);
    //  height: mixins.rem(21);
    //}
}

.wrapperSvg {
}

.logo {
    width: mixins.rem(36);
    height: mixins.rem(36);
    background-color: #ffffff;
    border-radius: 50%;
    object-fit: cover;
}

.text_info {
    font-family: globalIndex.$font_family_main;
    line-height: globalIndex.$line_height;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(5);
}

.title {
    font-size: mixins.rem(13);
}

.subtitle {
    font-size: mixins.rem(10);
}

.profileInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    transform: translate(mixins.rem(25), -70%);
    display: flex;
    column-gap: mixins.rem(10);
    align-items: center;
    text-align: left;
}

.progressBarContainer_cover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    transform: translate(mixins.rem(0), mixins.rem(-10));
    height: mixins.rem(10);
    display: flex;
    align-items: center;
    border-radius: mixins.rem(10);
}

.progressBarContainer {
    height: mixins.rem(6);
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: mixins.rem(10);
    width: 75%;
}

.progressBar {
    height: 100%;
    background: #ffffff;
    transition: width 0.2s ease-in-out;
    border-radius: mixins.rem(10);
}

.progressThumb {
    position: absolute;
    width: mixins.rem(10);
    height: mixins.rem(10);
    background: #ffffff;
    border-radius: 50%;
    transform: translate(-90%, -50%);
    top: 50%;
}

.videoTime {
    color: #ffffff;
    font-size: mixins.rem(14);
    margin-left: mixins.rem(8);
    font-family: globalIndex.$font_family_main;
}

.logo_out {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(mixins.rem(10), mixins.rem(10));
    background-color: #ffffff;
    color: #b3b0b0;
    opacity: 0.5;
    height: mixins.rem(54);
    width: mixins.rem(57);
    border-radius: mixins.rem(50) mixins.rem(10) mixins.rem(50) mixins.rem(50);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: mixins.rem(16);
    box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) rgba(0, 0, 0, 0.2);
}

.replayButton {
    position: absolute;
    font-family: globalIndex.$font_family_main;
    font-size: mixins.rem(20);
    color: #ffffff;
    background-color: #292929;
    top: 50%;
    left: 50%;
    padding-top: mixins.rem(10);
    padding-bottom: mixins.rem(10);
    padding-left: mixins.rem(30);
    padding-right: mixins.rem(30);
    border-radius: mixins.rem(15);
    transform: translate(-50%, -50%);
    transition: background-color ease 0.3s 0s;

    @media (any-hover: hover) {
        &:hover {
            transition: background-color ease 0.3s 0s;
            background-color: #2b2929;
        }
    }
}

.svg_play {
    width: mixins.rem(100);
    height: mixins.rem(100);
    fill: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
