@use '../../../../shared/styles/variable/globalIndex';
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/mixins';
@use '../../../../shared/styles/variable/common';

.textAreaCover {
    @media (min-width: mixins.em(global.$mobile)) {
        max-width: mixins.rem(370);
    }
    @media (max-width: mixins.em(global.$mobile)) {
        min-width: 100%;
    }
}

.coverInput {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(10);
    height: mixins.rem(110);
}

.textArea {
    @extend .input_profile;
    resize: none;
    @media (max-width: mixins.em(690)) {
        min-width: 100%;
    }
}

.textAreaHash {
    min-height: mixins.rem(100);
}

.textAreaText {
    min-height: mixins.rem(70);
}

.textAreaText,
.textAreaHash {
    max-width: mixins.rem(485);
}

.indicator_length {
    color: #7cb896;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(mixins.rem(-8), mixins.rem(42));
    font-size: mixins.rem(10);
    font-family: globalIndex.$font_family_main;
}
