@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variable/common';

.wrapper {
    min-height: mixins.rem(52);
    width: 100%;
    border-radius: mixins.rem(8);
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: border ease 0.3s 0s;
    border: mixins.rem(1) solid transparent;

    @media (any-hover: hover) {
        &:hover {
            transition: border ease 0.3s 0s;
            border: mixins.rem(1) solid globalIndex.$background_colour_additional_accent;
        }
    }
}

.coverBtnGeo {
    display: flex;
    background: globalIndex.$background_colour_additional_accent_second;
    border-radius: mixins.rem(10);
    padding-top: mixins.rem(7);
    padding-bottom: mixins.rem(7);
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(15);
    border: mixins.rem(1) solid transparent;
    outline: mixins.rem(1) transparent;
    width: 100%;
    cursor: pointer;
    position: relative;

    &.span {
        background: transparent;
    }
}

.geo {
    background: transparent;
    font-size: mixins.rem(16);
    border: mixins.rem(1) solid transparent;
    outline: mixins.rem(1) transparent;
    @extend .styleForAdditionalText;
}

.withoutStyle {
}

.dropdown {
    padding-bottom: mixins.rem(20);
    padding-left: mixins.rem(10);
    padding-right: mixins.rem(10);
    padding-top: mixins.rem(3);
    background-color: white;
    width: 100%;
    z-index: 15;
    box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) mixins.rem(8) rgba(0, 0, 0, 0.11);
    border-radius: mixins.rem(30);
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(20);
    //overflow: auto;

    @media (min-width: mixins.em(global.$mobile)) {
        max-height: mixins.rem(360);
        transform: translateY(101%);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    @media (max-width: mixins.em(global.$mobile)) {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 98%;
        transform: translate(-50%, -50%);
        max-height: 70vh;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, 50%);
    fill: globalIndex.$color_main_second;
    transition: fill ease 0.3s 0s;
    width: mixins.rem(20);
    height: mixins.rem(20);

    @media (any-hover: hover) {
        &:hover {
            fill: #000000;
            transition: fill ease 0.3s 0s;
        }
    }
}

.coverBtnFileText {
    width: 100%;
    font-family: globalIndex.$font_family_third;
    font-weight: 600;
    font-size: mixins.rem(16);
    display: flex;
    column-gap: mixins.rem(20);
    @extend .styleForAdditionalText;
    span {
        color: #58c89c;
    }
}

.geolocation_text {
    font-family: globalIndex.$font_family_main;
    font-weight: 600;
    font-size: mixins.rem(16);
    line-height: globalIndex.$line_height;
    color: #7c7c7c;
}

.svgArrow {
    @extend .svgIconArrow;
    transform: translate(-50%, 57%);
    transform-origin: 50% 50%;
    transition: transform ease 0.3s 0s;
    fill: #58c89c;
    &.active {
        transform: translate(-50%, 57%) rotate(-90deg);
        transition: transform ease 0.3s 0s;
    }
}

.coverTitle {
    display: flex;
    min-width: 100%;
    justify-content: center;
    position: relative;
}

.title {
    @extend .titleFontSize;
    font-size: mixins.rem(20);
    font-weight: globalIndex.$font_weight_title;
    background: #2ba296;
    padding-top: mixins.rem(15);
    padding-bottom: mixins.rem(15);
    padding-left: mixins.rem(35);
    padding-right: mixins.rem(35);
    border-radius: mixins.rem(0) mixins.rem(0) mixins.rem(25) mixins.rem(25);
    background: globalIndex.$background_colour_additional;
}

.coverOptions {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(4);
    overflow: auto;
}

.startBlockinfo {
    display: flex;
    flex: 1 1 auto;
    font-size: mixins.rem(12);
    column-gap: mixins.rem(5);
    @extend .styleForAdditionalText;
    font-weight: globalIndex.$font_weight_main;
    background-color: rgba(0, 0, 0, 0.07);
    padding-top: mixins.rem(3);
    padding-bottom: mixins.rem(3);
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(15);
    border: mixins.rem(1) solid transparent;
    outline: mixins.rem(1) transparent;
    border-radius: mixins.rem(10);
    max-width: mixins.rem(243);
    min-width: mixins.rem(243);

    span {
        color: globalIndex.$background_colour_additional_accent;
    }
}

.svgLogo {
    width: mixins.rem(20);
    height: mixins.rem(20);
    flex: 0 0 mixins.rem(20);
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    column-gap: mixins.rem(15);
}

.wrapper_trash {
    width: mixins.rem(32);
    height: mixins.rem(32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
}

.inputGroup {
    display: flex;
    gap: mixins.rem(10);
}

.addButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addButton:hover {
    background-color: #45a049;
}

.svgOkay {
    @extend .svgOkayArrow;
    flex: 1 0 mixins.rem(25);
}

.coverBtnOk {
    display: flex;
    flex: 1 1 auto;
    min-width: 100%;
    justify-content: center;
}

.simple {
    width: mixins.rem(170);
    height: mixins.rem(62);
    padding-top: mixins.rem(15);
    padding-bottom: mixins.rem(15);
    padding-left: mixins.rem(40);
    padding-right: mixins.rem(40);
    background-color: #409798;
    border-radius: mixins.rem(30);
    color: #ffffff;
    font-weight: 500;
    font-size: mixins.rem(18);
    transition: background-color ease 0.3s 0s;
    box-shadow: mixins.rem(3) mixins.rem(0) mixins.rem(37) mixins.rem(-3) rgba(0, 0, 0, 0.42);

    @media (any-hover: hover) {
        &:hover {
            background-color: globalIndex.$color_hover_first;
            transition: background-color ease 0.3s 0s;
        }
    }
}

.coverBlockDown {
    display: flex;
    column-gap: mixins.rem(15);
    align-items: center;
    position: relative;
}

.okey {
    background: globalIndex.$color_title;
    width: mixins.rem(32);
    height: mixins.rem(32);
    border-radius: mixins.rem(5);
    fill: #2ba296;
    transition: background-color ease 0.3s 0s;

    @media (any-hover: hover) {
        &:hover {
            transition: background-color ease 0.3s 0s;
            background: globalIndex.$color_hover_first;
        }
    }
}

.svgTrash {
    width: mixins.rem(20);
    height: mixins.rem(20);
    transition: fill ease 0.3s 0s;

    @media (any-hover: hover) {
        &:hover {
            fill: globalIndex.$background_colour_additional_accent;
            transition: fill ease 0.3s 0s;
        }
    }
}

.listCity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(mixins.rem(40));
    background-color: #ffffff;
    border-radius: mixins.rem(15);
    padding: mixins.rem(10);
    font-size: mixins.rem(12);
    max-height: mixins.rem(160);
    flex-direction: column;
    display: flex;
    justify-content: center;
    z-index: 20;
    overflow: auto;
}

.list {
    cursor: pointer;
    padding-top: mixins.rem(2);
    padding-bottom: mixins.rem(2);
    @media (any-hover: hover) {
        &:hover {
            background-color: #2ab684;
        }
    }
}

.coverInputGeo {
    flex: 1 1 auto;
}

.input_geo {
    @extend .input_profile;
    min-width: 100%;
    background-color: globalIndex.$background_colour_additional_light;

    &::placeholder {
        @extend .styleForAdditionalText;
    }
}
