@use '../../../../shared/styles/variable/globalIndex';
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/mixins';
@use '../../../../shared/styles/variable/common';

.wrapper {
    background: globalIndex.$background_colour_additional_accent_second;
    border-radius: mixins.rem(10);
    padding-top: mixins.rem(7);
    padding-bottom: mixins.rem(7);
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(15);
    border: mixins.rem(1) solid transparent;
    outline: mixins.rem(1) transparent;
    width: 100%;
    position: relative;
    font-family: globalIndex.$font_family_main;
    transition: border ease 0.3s 0s;
    @media (any-hover: hover) {
        &:hover {
            transition: border ease 0.3s 0s;
            border: mixins.rem(1) solid globalIndex.$background_colour_additional_accent;
        }
    }
}

.listCover {
    padding-bottom: mixins.rem(30);
    padding-top: mixins.rem(3);
    background-color: white;
    z-index: 10;
    border-radius: mixins.rem(30);
    box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) mixins.rem(8) rgba(0, 0, 0, 0.11);
    @media (min-width: mixins.em(global.$mobile)) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(101%);
        height: 100%;
    }

    @media (max-width: mixins.em(global.$mobile)) {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 98%;
        min-height: 70vh; //
        transform: translate(-50%, -50%);
        max-height: 70vh;
    }
}

.bodySelect {
    overflow: auto;
    max-height: mixins.rem(230);
    li {
        cursor: pointer;
        padding-left: mixins.rem(10);
        padding-right: mixins.rem(10);
        color: globalIndex.$color_title;
        font-family: globalIndex.$font_family_main;
        transition:
            background-color ease 0.3s 0s,
            color ease 0.3s 0s;
        border-bottom: mixins.rem(1) solid #878080;
        &.active {
            background-color: globalIndex.$background_colour_additional_accent;
        }
        &:hover {
            background-color: globalIndex.$background_colour_additional_accent;
            color: #fff;
            transition:
                background-color ease 0.3s 0s,
                color ease 0.3s 0s;
        }

        @media (min-width: mixins.em(global.$mobile)) {
            max-height: mixins.rem(230);
        }

        @media (max-width: mixins.em(global.$mobile)) {
            font-size: mixins.rem(20);
            padding-top: mixins.rem(5);
            padding-bottom: mixins.rem(5);
        }
    }
}

.CustomSelect {
    cursor: pointer;
    @extend .styleForAdditionalText;
}

.svgOkay {
    @extend .svgOkayArrow;
}

.svgArrow {
    @extend .svgIconArrow;
    transform: translate(-50%, 37%);
    transform-origin: 50% 50%;
    transition: transform ease 0.3s 0s;
    fill: globalIndex.$color_title;

    &.active {
        transform: translate(-50%, 37%) rotate(-90deg);
        transition: transform ease 0.3s 0s;
    }
}

.coverTitle {
    display: flex;
    min-width: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: mixins.rem(15);
}

.title {
    @extend .titleFontSize;

    font-size: mixins.rem(globalIndex.$font_size_title);
    font-weight: globalIndex.$font_weight_title;

    background: #2ba296;
    padding-top: mixins.rem(15);
    padding-bottom: mixins.rem(15);

    padding-left: mixins.rem(35);
    padding-right: mixins.rem(35);
    border-radius: mixins.rem(0) mixins.rem(0) mixins.rem(25) mixins.rem(25);
    background: globalIndex.$background_colour_additional;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    fill: globalIndex.$color_main_second;
    width: mixins.rem(20);
    height: mixins.rem(20);
    transition: fill ease 0.3s 0s;

    @media (any-hover: hover) {
        &:hover {
            fill: #000000;
            transition: fill ease 0.3s 0s;
        }
    }
}
