@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variable/common';

.coverClose {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    fill: globalIndex.$color_main_second;
    transition: fill ease 0.3s 0s;

    @media (any-hover: hover) {
        &:hover {
            fill: #000000;
            transition: fill ease 0.3s 0s;
        }
    }
}

.closeIcon {
    width: mixins.rem(20);
    height: mixins.rem(20);
    fill:#FFFFFF
}
