@use 'sass:math';
@use '../mixins';
@use './globalIndex';
@use './global';

// Файл для общих стилей

// отспупы для страниц
.paddingPages {
    padding-top: mixins.rem(globalIndex.$padding_top_pages);
    padding-bottom: mixins.rem(globalIndex.$padding_bottom_pages);
    flex: 1 1 auto;
    @include mixins.adaptiveValue('padding-bottom', globalIndex.$padding_top_pages, 30, 3, global.$tablet, global.$mobileSmall);
    @include mixins.adaptiveValue('padding-top', globalIndex.$padding_bottom_pages, 30, 3, global.$tablet, global.$mobileSmall);
}

// стиль основного текста
.mainFontSize {
    font-size: globalIndex.$font_size_main;
    font-family: globalIndex.$font_family_main;
    font-weight: globalIndex.$font_weight_main;
    line-height: globalIndex.$line_height_main;
    @include mixins.adaptiveValue('font-size', globalIndex.$font_size_main, 16, 3, global.$tablet, global.$mobileSmall);
}

// стиль для заголовков
.titleFontSize {
    font-size: globalIndex.$font_size_title;
    font-family: globalIndex.$font_family_main;
    font-weight: globalIndex.$font_weight_title;
    line-height: globalIndex.$line_height_title;
    color: globalIndex.$color_title;
    @include mixins.adaptiveValue('font-size', globalIndex.$font_size_main, 18, 3, global.$tablet, global.$mobileSmall);
}

.paddingsForContentModal {
    padding-top: mixins.rem(10);
    padding-bottom: mixins.rem(30);
    padding-left: mixins.rem(40);
    padding-right: mixins.rem(40);
}

.svgOkayArrow {
    width: mixins.rem(25);
    height: mixins.rem(25);
    fill: #ffffff;
}

.svgIconArrow {
    width: mixins.rem(22);
    height: mixins.rem(22);
    fill: #2f572f;
    position: absolute;
    right: 0;
    top: 0;
}

// шаблон для текста
.styleForAdditionalText {
    font-size: mixins.rem(globalIndex.$font_size_additional);
    font-weight: globalIndex.$font_weight_additional;
    color: globalIndex.$color_main_second;
}

.paddingInputs {
    overflow: auto;
    border-radius: mixins.rem(10);
    background: globalIndex.$background_colour_additional_accent_second;
    border: mixins.rem(1) solid transparent;
    outline: mixins.rem(1) transparent;
    padding-top: mixins.rem(7);
    padding-bottom: mixins.rem(7);
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(15);
}

.inputsStyle {
    font-family: globalIndex.$font_family_input;
    font-size: mixins.rem(14);
    line-height: globalIndex.$line_height_main;
    letter-spacing: mixins.em(1.05);
    color: globalIndex.$color_hover_first;
    font-weight: 500;
    will-change: transform;
}
