@use 'sass:math';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин

@import 'https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap'; // golos Text
@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300,400,500,600,700,900&display=swap'; // comforta
@import 'https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap'; // agdasima
@import '//fonts.googleapis.com/css2?family=Lato:wght@300,400,500,600,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';
// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина полотна (макета)

$maxWidthContainer: 1200; // Ширина ограничивающего контейнера (0 = нет ограничения)
$secondMaxWidthContainer: 1710; // Второй ограничивающий контейнер при необходимости

$containerPadding: 30; // Общий отступ у контейнера (30 = по 15px слева и справа, 0 = нет отступа)

$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания первого брейкпоинта

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
