@use 'sass:math';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин

@import 'https://fonts.googleapis.com/css2?family=Ubuntu,sans-serif:wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap';

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1728; // Ширина полотна (макета)

$maxWidthContainer: 1420; // Ширина ограничивающего контейнера (0 = нет ограничения)
$secondMaxWidthContainer: 1720; // Второй ограничивающий контейнер при необходимости

$containerPadding: 30; // Общий отступ у контейнера (30 = по 15px слева и справа, 0 = нет отступа)

$containerWidth: $maxWidthContainer + $containerPadding; // Ширина срабатывания первого брейкпоинта

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98; // Телефоны L
$mobileSmall: 479.98; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
