@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';

.leaflet-container {
  z-index: 0; /* Установите z-index, чтобы карта не перекрывала другие элементы */
  position: relative;
}

.cover_map {

  width: 100%;
  z-index: 0;
  border-radius: mixins.rem(30);

  @media (min-width: mixins.em(global.$mobile)) {
    height: mixins.rem(421);
  }
  @media (max-width: mixins.em(global.$mobile)) {
    height: mixins.rem(440);
  }
}


.black_circle_marker {
  background-color: black; // Черный цвет
  border-radius: 50%; // Делаем круглым
  width: 16px; // Ширина
  height: 16px; // Высота
  border: 2px solid white; // Белая обводка (опционально)
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); // Тень (опционально)
}