@use 'variable/globalIndex';
@use './mixins';

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

// сбрасываете отступы, поля и границы для всех элементов
*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    color: globalIndex.$theme_main_text_color;
    line-height: 1;
    font-family: globalIndex.$font_family_main;
    font-size: mixins.rem(globalIndex.$font_size_main);
    font-weight: globalIndex.$font_weight_main;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: globalIndex.$background_colour_main;
}

input,
button,
textarea {
    font-family: globalIndex.$font_family_input;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    font-family: globalIndex.$font_family_title;
}
