@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use './../../shared/styles/variable/common';


.wrapper {
  display: flex;
  flex-direction: column;
  background: #2F164B;
  max-width: mixins.rem(354);
  border-radius: mixins.rem(15);
  align-items: center;
  padding-top: mixins.rem(40);
  padding-bottom: mixins.rem(40);
  padding-left: mixins.rem(30);
  padding-right: mixins.rem(30);
  row-gap: mixins.rem(30);
}

.title_cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#FFFFFF;
  font-family: 'Lato';
  font-weight: 600;
  font-size: mixins.rem(16);
  text-align: center;
  row-gap: mixins.rem(20);
}

.title {
  font-family: "Luckiest Guy";
  font-weight: 700;
  color: #91FCA5;
}

.svg_brain {
  width: mixins.rem(85);
  height: mixins.rem(100);
  //background: linear-gradient(
  //                130deg,
  //                #BC188D 0%,
  //                #BC188D 38%,
  //                #600F5F 75%,
  //                #2F164B 100%
  //);
  border-radius: 50%;
  box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) mixins.rem(10) #2F164B;
}

.th_info {

}

.user_name_tg {

}

.adress {

}

.balance_block{
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: mixins.rem(15);
  row-gap: mixins.rem(20);
  padding-top: mixins.rem(20);
  padding-bottom: mixins.rem(20);
  padding-left: mixins.rem(10);
  padding-right: mixins.rem(10);
}

.subtitle_block {
  font-size: mixins.rem(16);
  font-weight: 400;
  font-family: 'Lato';
  color: #FFFFFF;
}

.balance_stt {
  font-family: "Bebas Neue";
  font-size: mixins.rem(36);
  font-weight: 700;
  color: #39E476;
}

.btn_cash{
  background-color: #442D5D;
  padding-bottom: mixins.rem(20);
  padding-top: mixins.rem(20);
  transition: background-color ease 0.3s 0s, color ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      transition: background-color ease 0.3s 0s, color ease 0.3s 0s;
      background-color: #39E476;
      color: black;
    }
  }

  &.left {
    padding-left: mixins.rem(30);
    border-top-left-radius: mixins.rem(40);
    border-bottom-left-radius: mixins.rem(40);
    padding-right: mixins.rem(10);
    border-right: mixins.rem(1) solid #FFFFFF;
  }
  &.right {
    border-left: mixins.rem(1) solid #FFFFFF;
    border-top-right-radius: mixins.rem(40);
    border-bottom-right-radius: mixins.rem(40);
    padding-right: mixins.rem(30);
    padding-left: mixins.rem(10);
  }
}

.btns_block {
  font-size: mixins.rem(14);
  font-weight: 400;
  font-family: 'Lato';
  color: #FFFFFF;
  display: flex;


  &:first-child {

  }

  &:last-child {


  }

}

.text_in_btn{

}

.add_money {

}

.input_block {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(10);
}

.wrap_inp {

  min-width: 100%;

  height: mixins.rem(48);
  font-size: mixins.rem(16);
  font-weight: 600;
  line-height: globalIndex.$line_height;
  position: relative;

}

.inp {
  color: #000000;
  font-size: mixins.rem(16);
  height: 100%;
  width: 100%;
  border-radius: mixins.rem(15);
  background-color: #FFFFFF;
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  font-weight: 700;
  font-family: 'Lato';
  min-width: mixins.rem(294);
  @media (min-width: mixins.em(380)) {
    padding-left: mixins.rem(30);
    padding-right: mixins.rem(64);
  }

  @media (max-width: mixins.em(380)) {
    padding-left: mixins.rem(15);
    padding-right: mixins.rem(64);
  }

  &::placeholder {
    font-family: 'Lato';
    font-weight: 700;
  }

}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#FFFFFF;
  font-family: 'Lato';
  font-weight: 400;
  font-size: mixins.rem(16);
  text-align: center;
  row-gap: mixins.rem(20);
}

.btn_send {
  background-color: #39E476;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) rgba(0, 0, 0, 0.2);
  transition: background-color ease 0.3s, box-shadow ease 0.3s;

  padding-left: mixins.rem(28);
  padding-right: mixins.rem(28);
  padding-top: mixins.rem(30);
  padding-bottom: mixins.rem(30);
  font-size: mixins.rem(16);
  font-weight: 700;
  font-family: globalIndex.$font_family_btn_first;
  border-radius: mixins.rem(40);
  min-height: mixins.rem(54);
  min-width: mixins.rem(137);


  @media(any-hover: hover) {
    &:hover {
      background-color: darken(globalIndex.$btn_background_hover, 10%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: background-color ease 0.3s, box-shadow ease 0.3s;
    }
  }

}