@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';

.wrapper {
  background-color: #FFFFFF;
  border-radius: mixins.rem(25);
  @extend .eth-card;
  padding-bottom: mixins.rem(10);
  height: mixins.rem(250);
}

.blockConvert{
  display: flex;
  justify-content: space-between;
  background-color: #96fac5;
  border-radius: mixins.rem(25) mixins.rem(25) mixins.rem(0) mixins.rem(0);
  height: mixins.rem(48);
  padding-left: mixins.rem(32);
  padding-right: mixins.rem(32);
  padding-top: mixins.rem(5);
  padding-bottom: mixins.rem(5);
  align-items: center;
  font-family: globalIndex.$font_family_third;
  font-weight: 700;
  font-size: mixins.rem(20);
  color: #365491;
}

.coverPrice {
  display: flex;
  border-radius: mixins.rem(25);
  flex-direction: column;
  height: 100%
}

.walletPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: mixins.rem(10);
  min-height: mixins.rem(100);
}

.wallet_card_balance {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: mixins.rem(28);
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
  color: #008279;
  row-gap: mixins.rem(5);
}

.stt_balance {
  font-family: globalIndex.$font_family_third;
  font-weight: 700;
  font-size: mixins.rem(32);
  color: #292929;
}

.stt_balnsce_usd {
  font-family: globalIndex.$font_family_third;
  font-size: mixins.rem(14);
  color: #A2A1A1;
}

.help_usdt_balance {
  display: flex;
  justify-content: center;
  text-align: center;
}

.blockBtns {
  display: flex;
  justify-content: center;
  column-gap: mixins.rem(10);
}

.btnSenTokensSvg,
.btnSwapSvg,
.btnDonationSvg {
  width: mixins.rem(25);
  height: mixins.rem(25);
  flex: 0 0 mixins.rem(25);
  fill: #ffffff;
}

.wallet_link {
  //margin-top: 15px;
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //justify-content: space-between;
  //width: 100%;
  //background-color: #96fac5;
  //border-radius: 25px;
  //padding: 10px 20px;
  //text-decoration: none;
  //color: #008279!important;
  //font-weight: 500;

  span {
    //font-size: 20px;
  }
}

.btnSendToken {
  background-color: #71FAA2;
  transition: background-color ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #51d17f;
      transition: background-color ease 0.3s 0s;
    }
  }
}

.btnSwap {
  background-color: #D0F68C;
  transition: background-color ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #b3dc6a;
      transition: background-color ease 0.3s 0s;

    }
  }
}

.btnDonation {
  background-color: #FFC8C8;
  transition: background-color ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #efa5a5;
      transition: background-color ease 0.3s 0s;

    }
  }
}

.gift {
  background-color: #C8EDFF;
  transition: background-color ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #a0d5ed;
      transition: background-color ease 0.3s 0s;

    }
  }
}

.btnSendToken,
.btnDonation,
.btnSwap,
.gift{
  width: mixins.rem(55);
  height: mixins.rem(55);
  border-radius: 50%;
  @extend .eth-card
}