@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variable/common';

.loaderWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; // Чтобы лоадер был поверх других элементов
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3); // Прозрачная граница
  border-top: 4px solid #3498db; // Цвет верхней границы
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5); // Тень для эффекта свечения
  position: relative;
}

.loader::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  border-top-color: #e74c3c; // Дополнительный цвет для анимации
  opacity: 0.7;
}

.loader::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 4px solid transparent;
  border-radius: 50%;
  animation: spin 3s linear infinite;
  border-top-color: #2ecc71; // Еще один цвет для анимации
  opacity: 0.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
