@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use './../../../shared/styles/variable/common';

.services {
    display: flex;
    width: mixins.rem(250);
    align-items: center;
    justify-content: center;
    border-radius: mixins.rem(15);
    column-gap: mixins.rem(20);
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle farthest-side at 50% 23%, #d21c72 0%, #bc188d 3%, #600f5f 17%, #2f164b 25%);
    border-radius: mixins.rem(15);
    align-items: center;
    padding-top: mixins.rem(110);
    padding-bottom: mixins.rem(40);
    padding-left: mixins.rem(30);
    padding-right: mixins.rem(30);
    row-gap: mixins.rem(50);
    box-sizing: border-box;

    @media (min-width: mixins.em(global.$mobile)) {
        height: 98%;
        max-width: 100%;
        position: relative;
        width: auto;
        aspect-ratio: 9 / 16;
    }

    @media (max-width: mixins.em(global.$mobile)) {
        position: relative;
        width: 98%;
        height: 100%;
    }

    @media (max-width: mixins.em(450)) {
        min-height: 98vh;
    }
}

.title_cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 600;
    font-size: mixins.rem(16);
    text-align: center;
    row-gap: mixins.rem(20);
}

.title {
    font-family: 'Luckiest Guy';
    font-weight: 700;
    color: #91fca5;
}

.svg_brain {
    width: mixins.rem(100);
    height: mixins.rem(120);
    border-radius: 50%;
}

.balance_block {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: mixins.rem(15);
    row-gap: mixins.rem(20);
    padding-top: mixins.rem(20);
    padding-bottom: mixins.rem(20);
    padding-left: mixins.rem(10);
    padding-right: mixins.rem(10);
    line-height: globalIndex.$line_height;
}

.subtitle_block {
    font-size: mixins.rem(18);
    font-weight: 700;
    font-family: 'Lato';
    color: #ffffff;
}

.btn_send {
    background-color: #39e476;
    color: #ffffff;
    border: none;
    cursor: pointer;
    box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) rgba(0, 0, 0, 0.2);
    transition:
        background-color ease 0.3s,
        box-shadow ease 0.3s;
    padding-left: mixins.rem(28);
    padding-right: mixins.rem(28);
    min-height: mixins.rem(70);
    padding-top: mixins.rem(18);
    padding-bottom: mixins.rem(18);
    font-size: mixins.rem(16);
    font-weight: 700;
    font-family: globalIndex.$font_family_btn_first;
    border-radius: mixins.rem(40);
    min-width: mixins.rem(137);

    @media (any-hover: hover) {
        &:hover {
            background-color: darken(globalIndex.$btn_background_hover, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition:
                background-color ease 0.3s,
                box-shadow ease 0.3s;
        }
    }
}

.cover_btn_send_cover {
    padding-top: mixins.rem(30);
}
