@use '../../../../shared/styles/variable/globalIndex';
@use '../../../../shared/styles/variable/global';
@use '../../../../shared/styles/mixins';
@use '../../../../shared/styles/variable/common';

.checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: mixins.rem(10);
}

.toggleSwitch {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .input {
        display: none; // Скрываем стандартный чекбокс
    }

    .slider {
        width: mixins.rem(83); // Ширина переключателя (83px)
        height: mixins.rem(42); // Высота переключателя (42px)
        background-color: #ccc; // Цвет фона в выключенном состоянии
        border-radius: mixins.rem(21); // Скругление углов (половина высоты)
        position: relative;
        transition: background-color 0.3s ease;

        &:before {
            content: '';
            width: mixins.rem(36); // Размер ползунка (36px)
            height: mixins.rem(36);
            background-color: #fff; // Цвет ползунка
            border-radius: 50%;
            position: absolute;
            top: mixins.rem(3); // Отступ сверху (3px)
            left: mixins.rem(3); // Отступ слева (3px)
            transition: transform 0.3s ease;
        }
    }

    .input:checked + .slider {
        background-color: globalIndex.$color_title; // Зеленый цвет фона во включенном состоянии

        &:before {
            transform: translateX(mixins.rem(41)); // Сдвиг ползунка вправо (83px - 36px - 6px)
        }
    }

    .label {
        margin-left: mixins.rem(10);
        font-size: mixins.rem(20);
        font-weight: 700;
        font-family: globalIndex.$font_family_main;
        color: globalIndex.$color_title;
    }
}