@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';

.wrapper_slider {
  max-width: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  padding-top: mixins.rem(60);
  padding-bottom: mixins.rem(20);
  row-gap: mixins.rem(55);
  display: flex;
  flex-direction: column;
}

.cover_sub_title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  @extend .titleBlock;
  max-width: mixins.rem(537);
}

.cover {
  display: flex;
  column-gap: mixins.rem(20);
  justify-content: center;
}

.profile_logo {
  max-height: mixins.rem(80);
  max-width: mixins.rem(80);
  border-radius: 50%;
  overflow: hidden;
}