@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';

.wrapper {

  row-gap: mixins.rem(62);
  display: flex;
  flex-direction: column;

  &.loggedIn {
    padding-top: mixins.rem(30);
  }

  &.without_logged_in {
    padding-top: mixins.rem(86);
  }
}

.wrapper_slider {
  max-width: mixins.rem(450);
}

.swiper-slide {
  text-align: center;
  font-size: mixins.rem(18);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cover_sub_title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  @extend .titleBlock;
  max-width: mixins.rem(537);
  @include mixins.adaptiveValue('font-size', 24, 16, 3, 800, 440);
}

.cover {
  display: flex;
  column-gap: mixins.rem(20);
  justify-content: center;
  height: mixins.rem(85);
  z-index: 0;
}

.profile_logo {
  max-height: mixins.rem(80);
  max-width: mixins.rem(80);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(1);
  transition: transform ease 0.3s 0s;

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
      transition: transform ease 0.3s 0s;
    }
  }

}