@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';


.wrapper {
  position: relative;
  width: mixins.rem(277);
  height: mixins.rem(364);
  //margin: auto;
  //border-radius: mixins.rem(20);
}

.swiper {
  width: mixins.rem(277);
  height: mixins.rem(364);
  background-color: transparent;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: mixins.rem(20);
  //overflow: hidden;

}

.imgCover {
  width: mixins.rem(240);
  height: mixins.rem(238);
  min-height: mixins.rem(238);
  padding-top: mixins.rem(17);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subTitle {
  color: #761a7c;
  font-family: sans-serif;
  font-weight: 700;
  font-size: mixins.rem(24);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
