@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variable/common';



.wrapper {
  padding-left: mixins.rem(30);
  padding-right: mixins.rem(30);
  padding-bottom: mixins.rem(30);
  display: flex;
  flex-direction: column;
  width: mixins.rem(371);
  row-gap: mixins.rem(30);
  position: relative;
}

.wrapper_btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 30%);
}

.close_svg {
  @extend .close_svg;
}

.stt_modal_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  row-gap: mixins.rem(34);
  align-items: center;
}

.btn_send_tokens {
  @extend .btn_main;
  padding-left: mixins.rem(28);
  padding-right: mixins.rem(28);
  padding-top: mixins.rem(14);
  padding-bottom: mixins.rem(14);
  font-size: mixins.rem(16);
  font-weight: 700;
  font-family: globalIndex.$font_family_btn_first;
  border-radius: mixins.rem(30);
  min-width: mixins.rem(137);
  min-height: mixins.rem(54);
}