@use '../../../shared/styles/variable/globalIndex';
@use '../../../shared/styles/variable/global';
@use '../../../shared/styles/mixins';
@use '../../../shared/styles/variable/common';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: mixins.rem(0);
  justify-content: space-between;
}


.cover_block {
  display: flex;
  column-gap: mixins.rem(25);
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.btn_stt_text {
  display: flex;
  column-gap: mixins.rem(10);
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #C03593, #F08283);
  -webkit-background-clip: text;
  color: transparent;
  font-size: mixins.rem(24);
  font-weight: 600;
  text-transform: uppercase;
}

.cover_btn {
  @extend .eth-card;
  display: flex;
  flex: 1 1 auto;
  height: mixins.rem(109);
  background-color: #ffffff;
  border-radius: mixins.rem(25);

  &.height {
      height: mixins.rem(115);
  }
}

.btn_stt_bonus {
  flex: 1 1 auto;;
  border-radius: mixins.rem(25);
  min-width: 100%;
  padding-top: mixins.rem(27);
  padding-bottom: mixins.rem(27);
  position: relative;
}
